<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Fanlar</title>
</head>
<body>
    <h1>fanlar ro'yxati</h1>
    <a href="/fan_qoshish"><button>fan qoshish</button></a>
    <br><br>
    <a href="/">Bosh sahifa</a>
    <hr>

    {% for fan in fanlar %}
        <p>{{ forloop.counter }}.
            {{ fan.nom }}
            <a href="/fanlar/{{ fan.id }}/tahrirlash/">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}
</body>
</html>
