<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Ustozlarlar</title>
</head>
<body>
    <h1>ustozlar ro'yxati</h1>
    <a href="/ustoz_qoshish"><button>ustoz qoshish</button></a>
    <br><br>
    <a href="/">Bosh sahifa</a>
    <hr>

    {% for ustoz in ustozlar %}
        <p>{{ forloop.counter }}.
            {{ ustoz.nom }}
            <a href="/ustozlar/{{ ustoz.id }}/tahrirlash/">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}
</body>
</html>
